# Main file defining the service and connections between them 
services:
  # Node exporters
  node-1:
    image: prom/node-exporter:latest
    container_name: node-1
    restart: unless-stopped
    networks:
      - monitoring

  node-2:
    image: prom/node-exporter:latest
    container_name: node-2
    restart: unless-stopped
    networks:
      - monitoring

  node-3:
    image: prom/node-exporter:latest
    container_name: node-3
    restart: unless-stopped
    networks:
      - monitoring

  # Scrape metrics every 15s
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9090:9090" # Exposed on port 9090
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    depends_on:
      - node-1
      - node-2
      - node-3
    networks:
      - monitoring

  # Dashboarding UI configured to pull from prometheus
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
    depends_on:
      - prometheus
    networks:
      - monitoring

volumes:
  prometheus_data:
  grafana_data:

networks:
  monitoring:
    driver: bridge
